{% extends 'RMS/main.html' %}




{% block content %}

<style>
   
         .form-control {
            font-size: 18px; /* Modify the font size to make inputs bigger */
            padding-left: 500px; /* Adjust padding to increase size */
            margin-left: -50px
                     }
        </style>



<div class="container"  >



    <div class="card info" style="margin-left: 150px;margin-top:100px;margin-left: 220px;background-color: rgb(255,255,255,0.1);" >
        <div class="card-body" style="margin-bottom: 20px; width: 100%;">
         <h1 class="headofedit"style="color:white"> Add Skills</h1>
            <form id="profileForm" method="POST" enctype="multipart/form-data" style="padding-left:240px;">
               
            <form method="post" action="{% url 'addskills' %}">
    
            {% csrf_token %}
             <label for="skill_name" style="margin-left:-60px;color:white;"> <h5>Skill Name</h5></label>
             <input type="text" id="skill_name" name="skill_name" style=" width:400px; height: 45px;
    width: 500px;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #fff;
    padding: 0 0 0 42px;
    background: rgba(255,255,255,0.1);" required>
    <br>
    <hr>
              <input type="submit" class="btn btn-primary" value="Add Skill" style="  border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 300px;;
    background: rgba(255,255,255,0.7);
    cursor: pointer;
    transition: .3s;"  >
</form>

                
            </form>
        </div>
    </div>
</div>


{% endblock %}
